.aboutMe {
  height: 100%;
  min-height: 90vh;
  background-color: #0077b5; /*0EB0D7*/ /*#4457C0*/
  text-align: center;
  padding: 10vh 10vw;
}

.aboutMe p {
  font-family: Alphapipe;
  font-size: 24px;
}

.profilePic {
  width: auto;
  height: 40vh;
  border-radius: 50%;
}
