.projects {
	background-color: #F9F9F9;
	height: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

.projects > h1 {
	padding: 10vh 10vw 0vh 10vw;
	margin: 0px;
}
