.miniProjects {
  background: linear-gradient(to right, rgb(166, 255, 255), rgb(128, 213, 253));
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /*#E9F6F9;*/
  /*	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);*/
}

.miniProjects > h1 {
  padding: 10vh 10vw 0vh 10vw;
  margin: 0px;
  font-size: 32px;
}
